<div class="col-xs-2 radio">
	<label class="">Column</label>
</div>
<div class="col-xs-4">
	<div class="form-group">
		<input type='text' id="column" class="form-control">
		<ul class="suggest"></ul>
	</div>
</div>
<div class="col-xs-6">
	<div class='btn-group btn-register pull-right rmargin-20'>
		<button id='btnReset' type="button" class="btn btn-default"></button>
		<button id='btnOk' type="button" class="btn btn-primary"></button>
	</div>
</div>
<script>

$(function(){
	console.log('modalkFooter');
});	
</script>