<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3 radio">
		<label><input type="radio" name="infoType" value='zip'>郵便番号</label>
	</div>
	<div class="col-xs-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" id="zip3"> 上３桁
			</label>
			<label>
				<input type="checkbox" id="zip4"> 下４桁
			</label>
		</div>
	</div>
	<div class="col-xs-4">
		<select id="zipSeparater" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label><input type="radio" name="infoType" value='address'>住所</label>
	</div>
	<div class="col-xs-4">
		<select id="addrSeparater" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">&nbsp;</div>
	<div class="col-xs-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="addrItem" value="pref"> 都道府県
			</label>
		</div>
	</div>
	<div class="col-xs-4">
		<select id="prefChar" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">&nbsp;</div>
	<div class="col-xs-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="addrItem" value="city"> 市区町村
			</label>
		</div>
	</div>
	<div class="col-xs-4">
		<select id="cityChar" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">&nbsp;</div>
	<div class="col-xs-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="addrItem" value="town"> 町・字
			</label>
		</div>
	</div>
	<div class="col-xs-4">
		<select id="townChar" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">&nbsp;</div>
	<div class="col-xs-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="addrItem" value="number"> 番地
			</label>
		</div>
	</div>
	<div class="col-xs-4">
		<select id="numberFormat" class="form-control"></select>
		<select id="numberChar" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">&nbsp;</div>
	<div class="col-xs-4">
		<div class="checkbox">
			<label>
				<input type="checkbox" name="addrItem" value="build"> 建物
			</label>
		</div>
	</div>
	<div class="col-xs-4">
		<select id="buildingChar" class="form-control"></select>
	</div>
</div>
<div class="modal-footer row"></div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag  = appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;
/*
郵便番号と住所の選択で反対のフォームにdisabledを！！
*/
$(function(){
	mForm = $('#modalForm')
	bindTag();
	bindLabel();
	bindSelectOptions();
	bindValue();
	bindAction();
	columnAction();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindSelectOptions(){
	
	var master	= appSrc.master.seletOptions,
		noBlank	= appSrc.config.blank.none,
		optBinder = dataBind.selectOptions
	;
	$('#zipSeparater',	mForm).append(optBinder(master.separater, noBlank));
	$('#addrSeparater',	mForm).append(optBinder(master.separater, noBlank));
	$('#prefChar',		mForm).append(optBinder(master.prefChar, noBlank));
	$('#cityChar',		mForm).append(optBinder(master.cityChar, noBlank));
	$('#townChar',		mForm).append(optBinder(master.character, noBlank));
	$('#numberFormat',	mForm).append(optBinder(master.numberFormat, noBlank));
	$('#numberChar',	mForm).append(optBinder(master.numberChar, noBlank));
	$('#buildingChar',	mForm).append(optBinder(master.character, noBlank));
}
function bindLabel(){
	$('.modal-title', mForm).text(subject.address);
	
	$('#btnReset', mForm).text(button.reset);
	$('#btnOk', mForm).text(button.ok);
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type == '')	return;
	
	var param = current.patternList[iCol].param;
							
	$(':radio[name="infoType"][value="' + param.infoType + '"]', mForm).prop('checked', true);
	$('#zip3', mForm).prop('checked', param.zip3);
	$('#zip4', mForm).prop('checked', param.zip4);
	$('#zipSeparater option[value=' + param.zipSeparater + ']', mForm).prop('selected', true);
	$('#addrSeparater option[value=' + param.addrSeparater + ']', mForm).prop('selected', true);
	
	$('#prefChar option[value=' + param.prefChar + ']', mForm).prop('selected', true);
	$('#cityChar option[value=' + param.cityChar + ']', mForm).prop('selected', true);
	$('#townChar option[value=' + param.townChar + ']', mForm).prop('selected', true);
	$('#numberChar option[value=' + param.numberChar + ']', mForm).prop('selected', true);
	$('#buildingChar option[value=' + param.buildingChar + ']', mForm).prop('selected', true);
		
	$.each(param.addrItem, function(idx, elm){
		$(':checkbox[name="addrItem"][value="' + elm + '"]').prop('checked', true);
	});
	
	$('#column', mForm).val(current.column.nameList[current.column.index]);	
}
function bindAction(){
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
	});
	$('#btnOk', mForm).click(function(){
		
		var	usingParam = [	'infoType',	'addrItem', 
							'zip3', 	'zip4', 'zipSeparater', 
							'addrSeparater',
							'prefChar',  'cityChar',  'townChar', 'numberChar', 'buildingChar',
							'column'],
			validParam	= {},
			gen			= null
		;							
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		generator.column.exec(validParam.column);
		
		gen	= new generator.address;
		gen.exec(validParam).then(function(res){
			append.grid.data(res);
			
		}).then(function(){
		
			var iCol       = current.column.index;
				tgtColName = current.column.nameList[iCol],
				ptnList    = current.patternList,
				ptnObj     = {
					name : tgtColName,
					type : 'address',
					param : validParam
				}
			;
			current.basedSource.address	= true;
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}
			append.modal.close();
			
		}).then(function(){
			gen = null;
		})
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
</script>