<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="row">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-10">
	
		<div class="form-group radio">
			<label>
				<input type="radio" name="sourceType" value='input'>
				任意の値を入力 (スペース区切りで入力して下さい)</p>
			</label>
			<input type="text" class="form-control" id="srcItem" placeholder="any any">
		</div>
		<div class="form-group radio">			
			<label>
				<input type="radio" name="sourceType" value='file'>
				ファイルから取り込む ( dsv, csv, txt, json, json5, xml ) 
				<a id="btnHelp" target='_blank'><i class='fa fa-info-circle'></i></a>
			</label>
			<div class='form-inline'>
				<button id="btnFileSelect" type="button"  class="btn btn-default">ファイル選択</button>
				<span class='delimiter-block'>
					Delimiter
					<input id="delimiter" type="text" class="form-control" maxlength='1' disabled>
				</span>
				<span class='checkbox-block'>
					<input type="checkbox" id="hasHeader" value="1" disabled> header行あり
					<a id="btnHelpHeader" target='_blank'><i class='fa fa-info-circle'></i></a>
				</span>
				<span class='checkbox-block'>
					<input type="checkbox" id="keepRow" value="1" disabled> 行を保持
					<a id="btnHelpRowKeep" target='_blank'><i class='fa fa-info-circle'></i></a>
				</span>
			</div>

			<input type='hidden' id='srcFilePath'>
			<div id="confirmAny" class='confirm-input'></div>
		</div>
	</div>
	<div class="col-xs-1">&nbsp;</div>
</div>

<div class="modal-footer form-group">
	<div class="form-group column-key-block">
		<div class="col-xs-3 radio">
			<label class="">Column ( Key )</label>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
				<input type='text' id="columnKey" class="form-control">
				<ul class="suggest"></ul>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class='column-value-block'>
			<div class="col-xs-3 radio">
				<label class="">Column ( Value )</label>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<input type='text' id="columnValue" class="form-control">
					<ul class="suggest"></ul>
				</div>
			</div>
		</div>
		<div class='column-block'>
			<div class="col-xs-2 radio">
				<label class="">Column</label>
			</div>
			<div class="col-xs-4">
				<div class="form-group">
					<input type='text' id="column" class="form-control">
					<ul class="suggest"></ul>
				</div>
			</div>
		</div>
		<div class="col-xs-6">
			<div class='btn-group btn-register pull-right rmargin-20'>
				<button id='btnReset' type="button" class="btn btn-default"></button>
				<button id='btnOk' type="button" class="btn btn-primary"></button>
			</div>
		</div>
	</div>
</div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	msg     = appSrc.config.init.errMessage,
	mForm
;

$(function(){
	mForm = $('#modalForm');	
	bindLabel();
	bindValue();
	bindAction();
	columnAction();
	fileSelectButtons();	
});
function bindLabel(){
	$('.modal-title',	mForm).text(subject.anything);	
	$('#btnFileSelect',	mForm).text(button.file);
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);
	
	append.help.open('btnHelp',			appSrc.help.anythigFileType);
	append.help.open('btnHelpHeader',	appSrc.help.anythigHeader);
	append.help.open('btnHelpRowKeep',	appSrc.help.anythigRowKeep);
	
	$('.delimiter-block, .checkbox-block').css({'color' : '#BBB'});
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type == '')	return;
	
	var param = current.patternList[iCol].param;

	$('#srcItem',		mForm).val(param.srcItem);
	$('#srcFilePath',	mForm).val(param.srcFilePath);
	$('#delimiter',		mForm).val(param.delimiter);		
	$('#column',		mForm).val(current.column.nameList[current.column.index]);	
	$('#columnKey',		mForm).val(param.columnKey);
	$('#columnValue',	mForm).val(param.columnValue);
	$('#hasHeader[value=' + param.hasHeader + ']', mForm).prop('checked', true);
	$('#keepRow[value=' + param.keepRow + ']', mForm).prop('checked', true);
}
function bindAction(){
	
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
		
		$("#confirmAny", mForm).text('');
		current.anything	= [];
	});
	$('#btnOk', mForm).click(function(){

		var usingParam	= [	'srcItem', 'srcFilePath', 'delimiter', 'column', 
							'columnKey', 'columnValue', 'hasHeader', 'keepRow'],
			validParam	= validate.parameter.valid,
			genCol	= generator.column,
			column	= current.column;
		;
							
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		//入力、ファイルとも未設定の場合、アラート	
		if(validParam.inputAny == '' && validParam.anyFilePath == ''){
			msg.subject = '任意の値が。';
			msg.message = '任意の値を入力、またはファイルを選択してください。';
			appSrc.alert.info(msg);
			return;
		}
		
		//任意の値が入力されていた場合	
		if(validParam.inputAny != ''){
			
			var ary = validParam.inputAny.split(/\s/)
				gen = new generator.anything
			;
			genCol.exec(validParam.column);
			column.index	= column.nameList.indexOf(validParam.column);
			
			console.log(current.patternList.length);
			console.log(column.index);
			
			return;
			gen.exec(ary)
			.then(function(res){
				append.grid.data(res);				
			})
			.then(function(){
				var	iCol       = column.index;
					tgtColName = column.nameList[iCol],
					ptnList    = current.patternList,
					ptnObj     = {
						name  : tgtColName,
						type  : 'anything',
						source: 'input',
						itemList : ary
					};
						
				if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
				else				ptnList.push(ptnObj);
				
				if(current.setPatternName){
					appSrc.pattern.save(project[current.groupName][current.setPatternName]);
				}
				append.modal.close();
				return;
			});
		}
		if(validParam.anyFilePath == '')	return;
		
		//ファイルが選択されていた場合				
		//任意の値データが配列の場合(csv, txt, dsv)
		if(Array.isArray(current.temp.anything.sources)){
			
			genCol.exec(validParam.column);
			column.index	= column.nameList.indexOf(validParam.column);
			
			var genAny	= new generator.anything,
				src = genAny.parseFile(validParam.anyFilePath)
			;
			
			genAny.parameter	= validParam;
			genAny.exec(src)
			.then(function(res){
				append.grid.data(res);				
			})
			.then(function(){			
				var	iCol       = column.index;
					tgtColName = column.nameList[iCol],
					ptnList    = current.patternList,
					ptnObj     = {
						name  : tgtColName,
						type  : 'anything',
						param : validParam
					};
						
				if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
				else				ptnList.push(ptnObj);
				
				if(current.setPatternName){
					appSrc.pattern.save(project[current.groupName][current.setPatternName]);
				}
				append.modal.close();
			});
		}
		//Objectの場合(json, json5, xml)
		else{
			
			genCol.exec(validParam.columnKey);
			genCol.exec(validParam.columnValue);
			column.index	= column.nameList.indexOf(validParam.columnKey);
			
			var genKey	= new generator.anything,
				genVal	= new generator.anything,
				anySrc	= genKey.parseFile(validParam.anyFilePath),
				keySrc	= Object.keys(anySrc),
				iValCol	= column.nameList.indexOf(validParam.columnValue)				
			;
			
			delegate.anythig = anySrc;
			genKey.parameter	= validParam;
			genKey.exec(keySrc)
			.then(function(keyData){
				append.grid.data(keyData);
			}); 			
			genVal.exec(anySrc, genKey.dataList)
			.then(function(valData){
				append.grid.data(valData, iValCol);		
			})
			.then(function(){
			
				var iCol		= column.index;
					tgtColName	= column.nameList[iCol],
					ptnList		= current.patternList,
					
					//['inputAny', 'anyFilePath', 'delimiter', 'column', 'columnKey', 'columnValue'];
					keyPtn		= {
						name : validParam.columnKey,
						type : 'anything',
						param : validParam
					},
					valPtn		= {
						name : validParam.columnValue,
						type : 'anything',
						relation : true,
						sourceColumnIndex : iCol,
						param : validParam
					};
					
				if(ptnList[iCol])	ptnList[iCol]	= keyPtn;
				else				ptnList.push(keyPtn);
				
				if(ptnList[iValCol])	ptnList[iValCol]	= valPtn;
				else					ptnList.push(valPtn);
				
				if(current.setPatternName){
					appSrc.pattern.save(project[current.groupName][current.setPatternName]);
				}
				append.modal.close();
			});
		}		
	});
}
function columnAction(){
	
	var colObj = {
		column : 'current',
		columnKey : 'current',
		columnValue : 'next'
	}
	append.form.columnComboBox(colObj);
	appEvent.suggest($('#column, #columnKey, #columnValue', mForm));
}
function fileSelectButtons(){

	$('#btnFileSelect').on('click', function(){
		
		var filePath = appSrc.userFile(),
			objExtn  = ['.json', '.json5', '.xml'],
			txtExtn  = ['.csv', '.dsv', '.txt'],
			dsvExtn  = ['.dsv'],
			extn     = path.extname(filePath).toLowerCase(),
			genAny   = new generator.anything,
			fileBody = [],
			display  = {
				none	: {'display' : 'none'},
				block	: {'display' : 'block'}
			},
			color    = {
				disabled : {'color' : '#BBB'},
				enable   : {'color' : '#000'}
			}
		;
		//json, json5, xml
		if(-1 < objExtn.indexOf(extn)){
			$('.column-key-block, .column-value-block').css({'display' : 'block'});
			$('.column-block').css(display.none);
		}
		//csv, dsv, txt
		else{
			$('.column-key-block, .column-value-block').css({'display' : 'none'});
			$('.column-block').css(display.block);
		}
		if(	dsvExtn.indexOf(extn) < 0){
			$('#delimiter').prop({'disabled' : true}).addClass('required');
			$('.delimiter-block').css(color.disabled);			
		}
		else{
			$('#delimiter').prop({'disabled' : false}).removeClass('required');
			$('.delimiter-block').css(color.enable);
		}
		if(-1 < txtExtn.indexOf(extn)){
			$('#hasHeader, #keepRow').prop({'disabled' : false});
			$('.checkbox-block').css(color.enable);
		}
		else{
			$('#hasHeader, #keepRow').prop({'checked' : false, 'disabled' : true});
			$('.checkbox-block').css(color.disabled);
		}

		fileBody	= genAny.parseFile(filePath);
		current.temp.anything.filePath = filePath;
		current.temp.anything.sources  = fileBody;
		$('#anyFilePath').val(filePath);
		$("#confirmAny").text(fileBody);
		genAny	= null;
    });
}
function anythingList(){
	
	var	inCol	= $.trim($("#inputAny").val()),
		csvCol	= $("#confirmAny").text(),
		colCand	= csvCol
	;
	
	if(csvCol == '' && inCol == '')	return;
	if(inCol != '')	colCand = inCol;
	
	var	newNames = colCand.split(',');	
}
</script>