<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-10">
		<div class="form-group radio">
			<label style='width:100%'>
				<input type="radio" name="sourceType" value='input'>
				<p class="label-input"></p>			
				<input type="text" class="form-control" id="inputColumn" placeholder="Column1 Column2">
			</label>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-10">
		<div class="form-group radio">
			<label>
				<input type="radio" name="sourceType" value='file'>
				<p class="label-csv"></p>			
				<button type="button" id="btnFileSelect" class="btn btn-default"></button>
				<input type='hidden' id="importPath">
				<div id="confirmColumn" class='confirm-input'></div>
			</label>
		</div>
	</div>
	<div class="col-xs-1">&nbsp;</div>
</div>
<hr>
<div class="form-group">
	<div class="col-xs-2 radio">
	</div>
	<div class="col-xs-10">
		<div class='btn-group btn-register pull-right'>
			<button id='btnReset' type="button" class="btn btn-default"></button>
			<button id='btnUpdate' type="button" class="btn btn-default"></button>
			<button id='btnOk' type="button" class="btn btn-primary"></button>
		</div>
	</div>
</div>	
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	defSetPtn = appSrc.config.default.setPattern,
	eMain,
	eModal,
	mForm
;

$(function(){
	eMain  = $('.main-content');
	eModal = $('.modal-content');
	mForm  = $('#modalForm');
	bindLabel();
	bindValue();
	bindAction();
	fileSelectButtons();
});
function bindLabel(){
	$('.modal-title',	eModal).text(subject.column);
	$('.label-input',	eModal).text(frmLabel.column.input);
	$('.label-csv',		eModal).text(frmLabel.column.csv);	
	$('#btnFileSelect',	mForm).text(button.file);
	$('#btnReset',		mForm).text(button.reset);
	$('#btnUpdate',		mForm).text(button.update);
	$('#btnOk',			mForm).text(button.ok);
}
function bindValue(){
	var colNames = []
		rowLen   = $('#confirmGrid th').size()
	;
	
	if(rowLen == 0){
		$('#btnUpdate', mForm).css(appSrc.config.css.display.none);
		return;
	}
	
	if(current.column.sourceType == 'input'){
		
		$(':radio[name=sourceType][value=input]').prop('checked', true);
		$('#btnFileSelect', mForm).prop(appSrc.config.attr.disable);
		current.patternList.forEach(function(pattern){
			colNames.push(pattern.name);
		});
		$('#inputColumn', mForm).val(colNames.join(','));
		
		return;
	}
	if(current.column.sourceType == 'file'){
		
		$(':radio[name=sourceType][value=file]').prop('checked', true);
		$('#btnFileSelect', mForm).prop(appSrc.config.attr.disable);
		$('#inputColumn',   mForm).prop(appSrc.config.attr.enable);
		$('#importPath',    mForm).val(current.column.srcFilePath);
		return;
	}
}
function bindAction(){
	
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
		
		$("#confirmColumn", mForm).text('');
		$("#inputColumn", mForm).prop(appSrc.config.attr.enable);
		$('#btnFileSelect', mForm).prop(appSrc.config.attr.enable);
		current.column.nameList = [];
		current.column.tagList  = [];
	});
	$(':radio[name=sourceType]').click(function(){
		var srcType = $(this).val(),
			colNames=[]
		;
		if(srcType == 'input'){
			$('#btnFileSelect', mForm).prop(appSrc.config.attr.disable);
			$('#inputColumn', mForm).prop(appSrc.config.attr.enable);
			if(0 < current.patternList.length){
				current.patternList.forEach(function(pattern){
					colNames.push(pattern.name);
				});
				$('#inputColumn', mForm).val(colNames.join(','));
			}
		}
		if(srcType == 'file'){
			$('#btnFileSelect', mForm).prop(appSrc.config.attr.enable);
			$('#inputColumn', mForm).prop(appSrc.config.attr.disable).val('');
		}
	});
	$('#btnOk', mForm).click(function(){
		columnNameList();
		setGridBody();
		$("#confirmGrid", eMain).resizableColumns();
	});
}
function fileSelectButtons(){

	$('#btnFileSelect', mForm).on('click', function(){
		
		var filePath = appSrc.userFile(),
			fileBody = fs.readFileSync(filePath, 'utf8'),
			impPath  = $('#importPath', mForm)
		;
		impPath.val(filePath);
		$("#confirmColumn", mForm).text(fileBody);
		
		if(impPath.val() != ''){
			$("#inputColumn", mForm).prop('disabled', true).val('');
		}
    });
}
function columnNameList(){
	
	var	srcType = $(':radio[name=sourceType]:checked').val(),
		inCol	= $.trim($("#inputColumn", mForm).val()),
		impPath = $.trim($('#importPath', mForm).val()),
		csvCol	= (impPath == '')? '' : fs.readFileSync(impPath, 'utf8'),
		listCol	= csvCol
	;
	
	if(srcType == 'input'){
		
	}
	if(srcType == 'file'){
		
	}
	console.log(srcType);
	return;
	if(csvCol == '' && inCol == '')	return;
	if(inCol != '')	listCol = inCol;
	
	var	newNames = listCol.split(' '),
		addNames = [],
		ptnObj 	 = [],
		nameLen  = 0
	;

	$.each(newNames, function(idx, elm){
		if(current.column.nameList.indexOf(elm) < 0){
			addNames.push(elm);
			ptnObj.push(defSetPtn);
			ptnObj[idx].name = elm;
		}
	});	
	Array.prototype.push.apply(current.column.nameList, addNames);
	Array.prototype.push.apply(current.patternList, ptnObj);
}
function setGridBody(){
	
	var	grid       = $('#confirmGrid', eMain),
		gHead      = $('thead', grid),
		gBody      = $('tbody', grid),
		nameList   = current.column.nameList,
		colHead    = gHeadNames = addedHead  = []
	;
	if($('tr', gHead).size() === 0){
		gHead.append('<tr />');
	}
	$('th', gHead).each(function(idx, elm){ 
		gHeadNames.push($(this).text());
	});
	for(var i = 0; i < nameList.length; i++) {
		if(gHeadNames.indexOf(nameList[i]) < 0){
			current.column.optionTag.push("<option value='" + i + "'>" + nameList[i] + "</option>");
			colHead.push('<th data=\'' + i + '\'>' + nameList[i] + '</th>');
			addedHead.push(nameList[i]);
		}
	}
	$('tr', gHead).append(colHead.join('\n'));
	append.modal.close();
	appEvent.grid.head();
	append.grid.row();
	append.grid.emptyCell(addedHead);
}
</script>