<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-12">
		<button id="btnDBText" type="button" class="btn btn-default">DB Text</button>
		<button id="btnLastNameKana" type="button" class="btn btn-default" disabled>lastNameKana CSV -> SQLite</button>
		<button id="btnfirstNameKana" type="button" class="btn btn-default" disabled>firstNameKana CSV -> SQLite</button>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-2">
		<select id='prefCode'>
			
			<!-- town.txt 行数
			<option value='05'>05 - 14191</option>
			<option value='06'>06 - 6107</option>
			<option value='07'>07 - 29139</option>
			<option value='08'>08 - 5044</option>
			<option value='09'>09 - 1792</option>
			<option value='10'>10 - 1469</option>
			<option value='11'>11 - 2664</option>
			<option value='12'>12 - 3312</option>
			<option value='13'>13 - 1875</option>
			<option value='14'>14 - 945</option>
			<option value='15'>15 - 4677</option>
			<option value='16'>16 - 3256</option>
			<option value='17'>17 - 4053</option>
			<option value='18'>18 - 2297</option>
			<option value='19'>19 - 2746</option>
			<option value='20'>20 - 14243</option>
			<option value='21'>21 - 5360</option>
			<option value='22'>22 - 1968</option>
			<option value='23'>23 - 26953</option>
			<option value='24'>24 - 2559</option>
			<option value='25'>25 - 1857</option>
			<option value='26'>26 - 10633</option>
			<option value='27'>27 - 2550</option>
			<option value='28'>28 - 5811</option>
			<option value='29'>29 - 2313</option>
			<option value='30'>30 - 2463</option>	-->
			<option value='31'>31 - 1767</option>
			<option value='32'>32 - 3423</option>
			<option value='33'>33 - 1964</option>
			<option value='34'>34 - 1796</option>
			<option value='35'>35 - 4609</option>
			<option value='36'>36 - 8666</option>
			<option value='37'>37 - 3765</option>
			<option value='38'>38 - 2620</option>
			<option value='39'>39 - 3417</option>
			<option value='40'>40 - 3485</option>
			<option value='41'>41 - 1779</option>
			<option value='42'>42 - 1968</option>
			<option value='43'>43 - 3086</option>
			<option value='44'>44 - 5611</option>
			<option value='45'>45 - 1261</option>
			<option value='46'>46 - 1475</option>
			<option value='47'>47 - 979</option>
		</select>
		<input id='idxFrom' type='text' class='form-control'>
		〜
		<input id='idxTo' type='text' class='form-control'>
		step <input id='idxStep' type='text' class='form-control' value='300'>
	</div>
	<div class="col-xs-3">
		<button id="btnAddressCrawle" type="button" class="btn btn-default">Address Crawle</button>	
		<span class='sourceData''></span>	
	</div>	
</div>
<div class="modal-footer row"></div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag  = appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;
/*
function wait2sec (item) { //このfunctionはさっきと同じ
  return new Promise(function (resolve, reject) {
    window.setTimeout(function () {
      console.log(item);
      resolve();
    }, 2000);
  });
}

['a', 'b', 'c'].reduce(function (prevValue, currentValue) {
  return prevValue.then(function () { ////直前の要素の処理（2秒かかる）が終わってから次の要素をwait2sec()に渡す
    return wait2sec(currentValue);
  });
}, Promise.resolve());
*/
$(function(){
	mForm	= $('#modalForm');
	bindTag();
	bindLabel();
	bindAction();
	columnAction();
	
	dbInsert();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title', mForm).text(subject.database);
	
	$('#btnReset', mForm).text(button.reset);
	$('#btnOk', mForm).text(button.ok);
}
function bindAction(){
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
	});
	$('#btnOk', mForm).click(function(){
		var usingParam = [	'column'];
							
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		generator.column.exec(validParam.column);
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));256
}

function dbInsert(){
	
	$('#idxFrom').on('change', function(){
		$('#idxTo').val(parseInt($(this).val()) + parseInt($('#idxStep').val()));
	})
	//住所情報をMapionから取得
	$('#btnAddressCrawle').click(function(){
		
		var gen = null
			prefList = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47']
		;
		
		gen	= new crawler;
		gen.baseURL	= 'http://www.mapion.co.jp/address/';
		
		
	//	gen.main();
	//	return;
	//	gen.getPref()
	//	.then(function(pref){
	//		return gen.getCity(pref);
	//	})
	//	.then(function(city){
	//			
	//	});
	//	gen.getCity(prefList)	
	//	gen.getTown($('#prefCode').val())		
		gen.getChome($('#prefCode').val(), $('#idxFrom').val(), $('#idxTo').val())		
	//	gen.createTownDir()	
	//	gen.getBan($('#prefCode').val())		
	//	gen.getGou($('#prefCode').val(), $('#idxFrom').val(), $('#idxTo').val())
		.then(function(res){
			console.log('end : ' + res)
		});
		gen = null;
	});
	
	//database.jsのテスト
	$('#btnDBText').click(function(){
		
		var gen = new generator.database;
		
		gen.exec(appSrc.sql.domain).then(function(res){
			console.log(res);
		});
		console.log(delegate.domain);
	});
	
	//苗字のかなデータをmaster.sqliteに登録
	$('#btnLastNameKana').click(function(){
		
		var dbPath	= __dirname + '/appCore/dbControl/mockingMaster.sqlite',
			sampleDir = "/Users/masahiko/MyApp/AppDocuments/MockingData/sampleData",
			csvList	= [	sampleDir + "/lastName-kana-1-5000.csv",
						sampleDir + "/lastName-kana-5001-10000.csv"],
			tmpSql = {
				select : 'SELECT lastNameKanjiID FROM lastNameKanji WHERE lastNameKanji = $name LIMIT 1',
				insert : 'INSERT INTO lastNameKana(lastNameKanjiID, lastNameKanaID, lastNameKana) VALUES',
				valBlock : "({0}, {1}, '{2}')"
			},
			fileBody	= '',
			lines		= [],
			items		= [],
			valGrp		= '',      
			valGrpList	= [],
			insertSql	= '',
			kanjiID		= 0
			db = new sqlite3.Database(dbPath)
		;
		
		function getID(line, param){
			
			var d = $.Deferred(),
				lineItems	= line.split(',')
			;
			
			db.serialize(function() {
				db.each(
				    tmpSql.select, 
					{$name : lineItems[0]}, 
					function(err, row) {
						
						if(row){
						
							kanjiID		= row.lastNameKanjiID;
							valGrpList	= [];
							
							for(var k = 1; k < lineItems.length; k++){
								valGrp	= to.string.format(tmpSql.valBlock, kanjiID, k, lineItems[k]);
								valGrpList.push(valGrp);
							};
							insertSql	= tmpSql.insert + valGrpList.join(',');
							
							db.run(insertSql, function(){
							});										
						}
					}	
				);
				d.resolve();				
			});		
			return d.promise();
		};
		
		fileBody	= fs.readFileSync(csvList[1], 'utf-8');
		lines		= fileBody.split('\n');
		
		//reduce(function(一つ前の関数の処理結果値, 現在の配列要素, 現在の配列Index, 渡された配列そのもの))
		lines.reduce(
			function(promise, line){
				return promise.then(function(param){
					return getID(line, param);
				});
			},
			$.Deferred().resolve('initial value')).then(function(){
				console.log('end');
			}
		);
	});
	
	//名前の漢字データをmaster.sqliteに登録
	$('#btnfirstNameKana').click(function(){
		
		//	var dbPath	= app.getPath('userData') + '/mockingMaster.sqlite';
		var dbPath	= __dirname + '/appCore/dbControl/mockingMaster.sqlite',
			sampleDir = "/Users/masahiko/MyApp/AppDocuments/MockingData/sampleData/firstName",
			inCsvList	= [	sampleDir + "/all-man.csv",
							sampleDir + "/all-woman.csv"],
		//	outCsvList	= [	sampleDir + "/all-man.csv",
		//					sampleDir + "/all-woman.csv"],
			tmpSql = {
				select : 'SELECT firstNameKanaID FROM firstNameKana WHERE firstNameKana = $name LIMIT 1',
				insert : `
INSERT INTO firstNameKanji(
	firstNameKanaID, firstNameKanjiID, firstNameKanji, gender
)
SELECT
	firstNameKanaID,
	(	
		SELECT
			COUNT(*) + 1
		FROM	firstNameKanji
		WHERE	firstNameKanaID	= kana.firstNameKanaID
	),
	'{0}',
	1
FROM	firstNameKana AS kana
WHERE	firstNameKana	= '{1}'
`
			},
			fileBody	= '',
			lines		= [],
			items		= [],
			valGrp		= '',      
			valGrpList	= [],
			insertSql	= '',
			kanaID		= 0
			db = new sqlite3.Database(dbPath)
		;
		
		function getID(line, param){
			
			var d = $.Deferred(),
				lineItems	= line.split(',')
			;
			
			db.serialize(function() {
				insertSql	= to.string.format(	tmpSql.insert, 
				                             	lineItems[1], 
				                             	lineItems[0]);
				
				db.run(insertSql, function(){});									
				d.resolve();				
			});		
			return d.promise();
		};
		
		fileBody	= fs.readFileSync(inCsvList[1], 'utf-8');
		lines		= fileBody.split('\n');
		
		//reduce(function(一つ前の関数の処理結果値, 現在の配列要素, 現在の配列Index, 渡された配列そのもの))
		lines.reduce(
			function(promise, line){
				return promise.then(function(param){
					return getID(line, param);
				});
			},
			$.Deferred().resolve('initial value')).then(function(){
				console.log('end');
			}
		);
	});
}
/*
	sqlite3 transaction

function tx_handler(callback, commit) {
    return function() {
        var args = Array.prototype.slice.call(arguments);
        var err = args[0];
        if(err)  db.run('rollback');             
        else if(commit) db.run('commit');
        if(callback)
            callback.apply(this, args);
    }
}
var db1 = new sqlite3.Database('file');
var db2 = new sqlite3.Database('file');

db1.serialize(function () {
  db1.run('begin transcation');
  db1.run('insert something', tx_handler( ... ) );
  ...
  db1.run('insert something', tx_handler( ..., true ) ); // will commit upon success
});

db2.serialize(function () {
  db2.run('begin transcation');
  db2.run('insert something', tx_handler( ... ) );
  ...
  db2.run('insert something', tx_handler( ..., true ) ); // will commit upon success
});
*/
</script>