<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3">
		<label class="row1-label">Info Type</label>
	</div>
	<div >
		<span class="radio-inline">
			<label><input type="radio" name="infoType" value="datetime" checked> 日時</label>
		</span>
		<span class="radio-inline">
			<label><input type="radio" name="infoType" value="date"> 日付のみ</label>
		</span>
		<span class="radio-inline">
			<label><input type="radio" name="infoType" value="time"> 時刻のみ</label>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<label class="row2-label">Date</label>
	</div>
	<div class="col-xs-3">
		<div class="form-group">
			<label for="startNo" class="control-label">From</label>
			<input type="date" class="form-control" id="dateFrom">
		</div>
	</div>
	<div class="col-xs-1">
		<div class="form-group">
			<label for="endNo" class="control-label">&nbsp;</label>
			<div class="range-wave">〜</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="form-group">
			<label for="startNo" class="control-label">To</label>
			<input type="date" class="form-control" id="dateTo">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<label class="row2-label">Time</label>
	</div>
	<div class="col-xs-3">
		<div class="form-group">
			<label for="startNo" class="control-label">From</label>
			<input type="time" class="form-control" id="timeFrom" value='00:00'>
		</div>
	</div>
	<div class="col-xs-1">
		<div class="form-group">
			<label for="endNo" class="control-label">&nbsp;</label>
			<div class="range-wave">〜</div>
		</div>
	</div>
	<div class="col-xs-3">
		<div class="form-group">
			<label for="startNo" class="control-label">To</label>
			<input type="time" class="form-control" id="timeTo" value='23:59'>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<label class="row1-label">Location</label>
	</div>
	<div class="col-xs-3">
		<div class="form-group">
			<select id="dateLocation" class="form-control"></select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-3">
		<label class="row1-label">
			Format 
			<a id="btnHelp" target='_blank'><i class='fa fa-info-circle'></i></a>
		</label>
	</div>
	<div class="col-xs-7">
		<div class="form-group">
			<input type="text" class="form-control" id="dateFormat" placeholder="yyyy-mm-dd">
		</div>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3">
		<label class="row1-label">Sort</label>
	</div>
	<div class="col-xs-3">
		<div class="form-group">
			<select id="dateSort" class="form-control"></select>
		</div>
	</div>
</div>
<div class="modal-footer row"></div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag  = appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;

$(function(){  
	mForm = $('#modalForm');
	bindTag();
	bindLabel();
	bindSelectOptions();
	bindValue();
	bindAction();
	columnAction();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.datetime);	
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);
	append.help.open('btnHelp', appSrc.help.dateFormat, 800);
}
function bindSelectOptions(){
	
	var master	= appSrc.master.seletOptions,
		noBlank	= appSrc.config.blank.none,
		optBdr	= dataBind.selectOptions
	;
	$('#dateLocation',	mForm).append(optBdr(master.location, noBlank));
	$('#dateSort',		mForm).append(optBdr(master.sort, noBlank));
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type == '')	return;
	
	var param = current.patternList[iCol].param;

	$('#dateFrom',	mForm).val(param.dateFrom);	
	$('#dateTo',	mForm).val(param.dateTo);	
	$('#timeFrom',	mForm).val(param.timeFrom);	
	$('#timeTo',	mForm).val(param.timeTo);		
	$('#dateFormat',mForm).val(param.dateFormat);
	
	$('#dateLocation option[value=' + param.dateLocation + ']', mForm).prop('selected', true);	
	$('#dateSort option[value=' + param.dateSort + ']', mForm).prop('selected', true);		
	
	$('#column', mForm).val(current.column.nameList[current.column.index]);	
}
function bindAction(){
	
	$(':radio[name="infoType"]').click(function(){
		infoTypeControl($(this).val());
	});
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
	});
	$('#btnOk', mForm).click(function(){
		
		var usingParam	= [	'infoType',	'dateFrom',	'dateTo', 'timeFrom', 'timeTo',	
							'dateLocation',	'dateFormat', 'dateSort', 'column']
			validParam	= {},
			gen			= null
		;
		
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		
		validParam	= validate.parameter.valid;		
		generator.column.exec(validParam.column);
		
		gen	= new generator.datetime;
		gen.exec(validParam)
		.then(function(dataList){
			append.grid.data(dataList);			
		})
		.then(function(){
		
			var iCol	= current.column.index,
				colName = current.column.nameList[iCol],
				ptnList = current.patternList,
				ptnObj  = {
					name  : colName,
					type  : 'datetime',
					param : validParam
				}
			;
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}		
			append.modal.close();
		})
		.then(function(){
			gen = null;
		});
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
function infoTypeControl(infoType){
	
	switch(infoType){
	case 'datetime':
		$('#timeFrom, #timeTo', mForm).prop('disabled', false);	
		$('#dateFrom, #dateTo', mForm).prop('disabled', false);	
		$('#dateFrom').focus();
		$('#timeFrom',	mForm).val('00:00');
		$('#timeTo',	mForm).val('23:59');
		break;
	case 'date':
		$('#timeFrom, #timeTo', mForm).prop('disabled', true).val('');	
		$('#dateFrom, #dateTo', mForm).prop('disabled', false);	
		$('#dateFrom').focus();
		break;
	case 'time':
		$('#timeFrom, #timeTo', mForm).prop('disabled', false);	
		$('#dateFrom, #dateTo', mForm).prop('disabled', true).val('');	
		$('#timeFrom', mForm).val('00:00').focus();
		$('#timeTo', mForm).val('23:59');
		break;
	default:
		break;
	}
}
</script>