<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id="btnCloseModal" type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Email Addressを設定します。</h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-10">
		<div class="form-group">
			<p>
				Pattern 
				<a id="btnHelp" target='_blank'><i class='fa fa-info-circle'></i></a>
			</p>
			<input id="mailPattern" type="text" class="form-control"
				value='[0-9a-zA-Z_]{1}[0-9a-zA-Z_.+\-]{0,24}@[0-9a-zA-Z_\-]{3,20}'>
		</div>
	</div>
	<div class="col-xs-1">&nbsp;</div>
</div>
<div class="modal-footer row"></div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag  = appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;

$(function(){
	mForm = $('#modalForm');
	bindTag();
	bindLabel();
	bindValue();
	bindAction();
	columnAction();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.email);	
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);	
	
	append.help.open('btnHelp',	appSrc.help.emailPattern);
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type == '')	return;
	
	var param = current.patternList[iCol].param;
	
	$('#mailPattern',	mForm).val(param.mailPattern);	
	$('#column',		mForm).val(current.column.nameList[current.column.index]);	
}
function bindAction(){
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
	});
	$('#btnOk', mForm).click(function(){
		
		var usingParam	= ['mailPattern', 'column']
			validParam	= [],
			gen			= null
		;
		
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		generator.column.exec(validParam.column);		
		
		gen	= new generator.email;
		gen.exec(validParam).then(
			function(dataList){	append.grid.data(dataList);	},
			function(reason){	
				console.error(reason);
			}
			
		).then(function(){
			
			var iCol	= current.column.index,
				ptnList	= current.patternList,
				ptnObj	= {
					name : current.column.nameList[iCol],
					type : 'email',
					param : validParam
				}
			;		
			
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}
			append.modal.close();
		}).then(function(){
			gen = null;
		})
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
</script>