<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-4 radio">
		<label>暗号化対象</label>
	</div>
	<div class="col-xs-3">
		<div class='radio'>
			<label><input type="radio" name='criptoSource' value='column'>既存のColumn</label>			
		</div>
	</div>
	<div class="col-xs-3">
		<select id="targetColumn" class='form-control'></select>		
	</div>
</div>
<div class="form-group">
	<div class="col-xs-4"></div>
	<div class="col-xs-3">
		<div class='radio'>
			<label><input type="radio" name="criptoSource" value='file'>ファイル</label>			
		</div>
	</div>
	<div class="col-xs-5">
		<div>
			<button id="btnFileSelect" type="button"  class="btn btn-default" style='height:34px'>ファイル選択</button>
			 ( txt ) <a id="btnHelp" target='_blank'><i class='fa fa-info-circle'></i></a>
		</div>
		<input type='hidden' id='targetFilePath'>		
	</div>
</div>
<div class="form-group">
	<div class="col-xs-4"></div>
	<div class="col-xs-8"><div id="confirmTarget" class='confirm-input'></div></div>
</div>
<div class="form-group">
	<div class="col-xs-4 radio">
		<label>ハッシュアルゴリズム</label>
	</div>
	<div class="col-xs-5">
		<select id="cryptoAlgorithm" class='form-control required'></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-4 radio">
		<label>エンコーディング</label>
	</div>
	<div class="col-xs-5">
		<select id="outEncoding" class='form-control required'></select>
	</div>
</div>
<div class="modal-footer row"></div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag	= appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	msg     = appSrc.config.init.errMessage,
	mForm	= null
;

$(function(){
	mForm = $('#modalForm');	
	bindTag();
	bindLabel();
	bindSelectOptions();
	bindValue();
	bindAction();
	columnAction();
	fileSelectButtons();	
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.crypto);	
	$('#btnFileSelect',	mForm).text(button.file);
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);	
	
	append.help.open('btnHelp',	appSrc.help.cryptoFile);
}
function bindSelectOptions(){
	
	var master	= appSrc.master.seletOptions.crypto,
		blank	= appSrc.config.blank,
		colOpt  = current.column.nameList.concat(),
		optBdr	= dataBind.selectOptions
	;
	colOpt.splice(current.column.index, 1);
	$('#targetColumn',		mForm).append(optBdr(colOpt, blank.add));
	$('#cryptoAlgorithm',	mForm).append(optBdr(master.algorithm, blank.add));
	$('#outEncoding',		mForm).append(optBdr(master.encoding, blank.add));
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type == '')	return;
	
	var param = current.patternList[iCol].param;
	
	$(':radio[name="criptoSource"][value="' + param.criptoSource + '"]').prop('checked', true);
	$('#targetColumn option[value="' + param.targetColumn + '"]').prop('selected', true);
	$('#targetFilePath').val(param.targetFilePath);
	$('#cryptoAlgorithm option[value="' + param.cryptoAlgorithm + '"]').prop('selected', true);
	$('#outEncoding option[value="' + param.outEncoding + '"]').prop('selected', true);
	$('#column', mForm).val(current.column.nameList[current.column.index]);	
}
function bindAction(){
	
	var attr = {
		disable	: {'disabled' : true},
		enable	: {'disabled' : false} 
	}
	$(':radio[name="criptoSource"]', mForm).click(function(){
		if($(this).val() == 'column'){
			$('#btnFileSelect', mForm).prop(attr.disable);
			$('#targetColumn', mForm).prop(attr.enable);
		}
		else{
			$('#btnFileSelect', mForm).prop(attr.enable);
			$('#targetColumn', mForm).prop(attr.disable);
		}
	})
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
		
		$('#btnFileSelect', mForm).prop(attr.enable);
		$('#targetColumn', mForm).prop(attr.enable);
		$('#targetFilePath', mForm).val('');
		$("#confirmTarget", mForm).text('');		
	}); 
	$('#btnOk', mForm).click(function(){
		
		var usingParam	= [	'criptoSource', 'targetColumn', 'targetFilePath', 
							'cryptoAlgorithm', 'outEncoding', 'column'],
			validParam	= {},			
			gen			= null
		;
							
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		generator.column.exec(validParam.column);

		if(!isValidFormRelation(validParam))	return;
		
		gen	= new generator.encryption;
		gen.sourceInGrid(validParam.targetColumn);
		gen.exec(validParam)
		.then(function(res){
			append.grid.data(res);
		})
		.then(function(){
			var iCol     = current.column.index,
				ptnList  = current.patternList,
				ptnObj   = {
					name  : current.column.nameList[iCol],
					type  : 'encryption',
					param : validParam
				}
			;
			if(validParam.criptoSource == 'column'){
				ptnObj.param.sourceColumnIndex	= validParam.targetColumn;
			}
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}	
			append.modal.close();
		});
	});
}
function isValidFormRelation(param){
	
	var msg		= appSrc.message.modal.crypto.unset,
		colName = current.column.nameList[param.targetColumn]
	;
	if(param.criptoSource == 'column'){
		if(param.targetColumn === ''){
			appSrc.alert.info(msg.column);
			return false;
		}
		if(!('type' in current.patternList[param.targetColumn])){
			msg.dataType.message = to.string.format(msg.dataType.message, colName)
			appSrc.alert.info(msg.dataType);
			return false;
		}
	}
	else{
		if(param.targetFilePath == ''){
			appSrc.alert.info(msg.file);
			return false;
		}
	}
	return true;
}
function columnAction(){
	
	var colObj = {
		column : 'current',
		columnKey : 'current',
		columnValue : 'next'
	}
	append.form.columnComboBox(colObj);
	appEvent.suggest($('#column, #columnKey, #columnValue', mForm));
}
function fileSelectButtons(){

	$('#btnFileSelect', mForm).on('click', function(){		

		var filePath = appSrc.userFile(['txt']),
			fileBody = appSrc.longtext(filePath)
		;		
		$('#targetFilePath', mForm).val(filePath);
		$("#confirmTarget", mForm).text(fileBody.substr(1,50));
		$(':radio[name="criptoSource"][value="file"]', mForm).prop('checked', true);
    });
}
function anythingList(){
	
	var	inCol	= $.trim($("#inputAny").val()),
		csvCol	= $("#confirmAny").text(),
		colCand	= csvCol
	;
	
	if(csvCol == '' && inCol == '')	return;
	if(inCol != '')	colCand = inCol;
	
	var	newNames = colCand.split(',');	
}
</script>