<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3 radio">
		<label>File Type</label>
	</div>
	<div class="col-xs-9 form-inline">
		<span class="radio-inline">
			<input type="radio" name="exportType" value="csv" checked> CSV
		</span>
		<span class="radio-inline">
			<input type="radio" name="exportType" value="xml"> XML
		</span>
		<span class="radio-inline">
			<input type="radio" name="exportType" value="json"> JSON
		</span>
		<span class="radio-inline">
			<input type="radio" name="exportType" value="json5"> JSON5
		</span>
		<span class="radio-inline">
			<input type="radio" name="exportType" value="dsv"> DSV
		</span>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>CSV Option</label>
	</div>
	<div class="col-xs-3 radio">
		テキストを<code>&quot;&nbsp;&quot;</code>で
	</div>
	<div class="col-xs-3">
		<select id="csvEnclose" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>DSV Delimiter</label>
	</div>
	<div class="col-xs-3">
		<input id="delimiter" type="text" class="form-control" maxlength='1' disabled>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>ファイル分割</label>
	</div>
	<div class="col-xs-9 form-inline">
		<input id='maxPerFile' name='maxPerFile' type='number' 
			class='form-control max-per-file' min='1' max='100000' value='1000'> 行ごと
		<a id="btnHelp" target='_blank'><i class='fa fa-info-circle''></i></a>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>保存先</label>
	</div>
	<div class="col-xs-9 form-inline">
		<button type="button" id="btnFileSelect" class="btn btn-default">フォルダ・ファイルを選択</button>
		<input type='hidden' id='savePath'>
		<div id="confirmPath" class='confirm-input'></div>
	</div>
</div>

<div class="modal-footer row">
	<div class="col-xs-7 radio">
		<div class='exporting'>
			<label class='creating'>
				<i class="fa fa-pulse fa-1x fa-fw" style='color:#BBB'></i>
				データを生成中
			</label><br>
			<label class='saving'>
				<i class="fa fa-pulse fa-1x fa-fw" style='color:#BBB'></i>
				ファイルへ保存
			</label>
		</div>
	</div>
	<div class="col-xs-4">
		<div class='btn-group btn-register'>
			<button id='btnReset' type="button" class="btn btn-default"></button>
			<button id='btnOk' type="button" class="btn btn-primary"></button>
		</div>
	</div>
</div>		
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;
$(function(){
	mForm = $('#modalForm');
	bindLabel();
	bindSelectOptions();
	bindVallue();
	bindAction();
	fileSelectButtons();
});
function bindLabel(){
	$('.modal-title',	mForm).text(subject.export);	
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);

	append.help.open('btnHelp',	appSrc.help.exportFile);
}
function bindSelectOptions(){
	
	var master	= appSrc.master.seletOptions,
		noBlank	= appSrc.config.blank.none
	;
	$('#csvEnclose').append(dataBind.selectOptions(master.enclose, noBlank));
}
function bindVallue(){
	
	var ex = current.export;
	$(':radio[name="exportType"][value="' + ex.type + '"]',			mForm).prop('checked', true);
	$('#csvEnclose option[value="' + Number(ex.csvEnclose) + '"]',	mForm).prop('selected', true);
	$('#delimiter',		mForm).val(ex.delimiter);
	$('#savePath',		mForm).val(ex.savePath);
	$('#confirmPath',	mForm).text(ex.savePath);
}
function bindAction(){
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		$("#modalForm")[0].reset();
		$('#csvEnclose', mForm).prop('disabled', false).val('0');
		$('#confirmPath').text('');
		current.export = appSrc.config.current.export;
		appSrc.pattern.save(project[current.groupName][current.setPatternName]);
	});
	$(':radio[name=exportType]', mForm).change(function(){
		
		var exTypeVal	= $(this).val(),
			isCsv = (exTypeVal == 'csv'),
			isDsv = (exTypeVal == 'dsv')
		;
		$('#csvEnclose',	mForm).prop('disabled', !isCsv).val('0');
		$('#delimiter',		mForm).prop('disabled', !isDsv).val('');
	});
	$('#btnOk', mForm).click(function(){
		var usingParam	= ['exportType', 'csvEnclose', 'delimiter', 'maxPerFile', 'savePath']
			validParam	= {}
		;
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		
		current.export.type			= validParam.exportType;
		current.export.csvEnclose	= validParam.csvEnclose;
		current.export.delimiter	= validParam.delimiter;
		current.export.savePath		= validParam.savePath;
		
		var gen = new generator.export;
		gen.exec(current);		
		gen	= null;
	});
}
function fileSelectButtons(){

	$('#btnFileSelect', mForm).on('click', function(){
		
		var filePath = appSrc.exportFile();
		$('#savePath', mForm).val(filePath);
		$('#confirmPath', mForm).text(filePath);
    });
}
</script>