<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">				
				<button type="button" id='btnCloseModal' class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3">
		<label class="row2-label label-range"></label>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<label for="stepNo" class="control-label">Step</label>
			<input type="number" class="form-control required" id="stepNo" value="1">
		</div>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<label for="startNo" class="control-label">Start</label>
			<input type="number" class="form-control required" id="startNo" value='0'>
		</div>
	</div>
	<div class="col-xs-1">
		<div class="form-group">
			<label for="endNo" class="control-label">&nbsp;</label>
			<div class="form-contorl range-wave">〜</div>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<label for="endNo" class="control-label">End</label>
			<div id="endNo" class="form-contorl number"></div>
		</div>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3">
		<label class="row2-label label-padding"></label>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<label for="startNo" class="control-label">0 Padding</label>
			<select id="padding" class="form-control required"></select>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<label for="startNo" class="control-label">Digit</label>
			<input type="number" class="form-control" id="digit" disabled>
		</div>
	</div>
</div>
<div class="modal-footer form-group"></div>

			</div>
			
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag  = appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;

$(function(){
	mForm = $('#modalForm');
	bindTag();
	bindLabel();
	bindSelectOptions();
	bindValue();
	bindAction();
	columnAction();
	viwEndNo();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.increment);
	$('.label-range',	mForm).text(frmLabel.range.number);
	$('.label-padding',	mForm).text(frmLabel.padding);		
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);
}
function bindSelectOptions(){
	
	var master	= appSrc.master.seletOptions,
		noBlank	= appSrc.config.blank.none
	;
	$('#padding').append(dataBind.selectOptions(master.yesNo, noBlank));
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type == '')	return;
	
	var param = current.patternList[iCol].param;
	
	$('#stepNo',	mForm).val(param.stepNo);
	$('#startNo',	mForm).val(param.startNo);
	$('#digit',		mForm).val(param.digit);		
	$('#column',	mForm).val(current.column.nameList[current.column.index]);	
	
	$('#padding option[value=' + Number(param.padding) + ']', mForm).prop('selected', true);
	toggleDigit(Number(param.padding));	
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
function bindAction(){
	
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		$("#modalForm")[0].reset();
		viwEndNo();
		toggleDigit(0);
	});
	$('#btnOk', mForm).click(function(){
		
		var usingParam	= ['column', 'stepNo', 'startNo', 'padding', 'digit']
			validParam	= {},
			gen			= null
		;
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		generator.column.exec(validParam.column);
		
		gen	= new generator.increment;		
		gen.exec(validParam)
		.then(function(res){
			append.grid.data(res);			
		})
		.then(function(){
			
			var iCol       = current.column.index;
				tgtColName = current.column.nameList[iCol],
				ptnList    = current.patternList,
				ptnObj     = {
					name  : tgtColName,
					type  : 'increment',
					param : validParam
				}
			;
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}		
			append.modal.close();
		});
	});
	
	$('#stepNo, #startNo').change(function(){
		viwEndNo();
	});
	$('#padding').change(function(){
		toggleDigit(this.value);
	});
}

function viwEndNo(){
	var stepNo  = parseInt($('#stepNo',		mForm).val(), 10),
		startNo = parseInt($('#startNo',	mForm).val(), 10),
		maxRows = parseInt($('#dataCount',	mForm).val(), 10),
		endNo   = (stepNo * maxRows) + startNo
	;
	if(Number.isNaN(endNo))	$('#endNo',mForm).text('?');
	else					$('#endNo',mForm).text(endNo);
}
function toggleDigit(padding){
	if(padding == 0)	$('#digit', mForm).prop('disabled', true).removeClass('required');
	else				$('#digit', mForm).prop('disabled', false).addClass('required');
}
</script>