<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3">
		<label class="row2-label label-range">バイト数範囲</label>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<label for="startNo" class="control-label">Min bytes</label>
			<input type="number" class="form-control" id="minTextRange" min="0" max="1696000">
		</div>
	</div>
	<div class="col-xs-1">
		<div class="form-group">
			<label for="startNo" class="control-label">&nbsp;</label>
			<div class="form-contorl range-wave">〜</div>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="form-group">
			<label for="startNo" class="control-label">Max bytes</label>
			<input type="number" class="form-control" id="maxTextRange" min="0" max="1696000">
		</div>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3"></div>
	<div class="col-xs-9"><div class="form-group">( 文字コードはUTF-8のみです。)</div>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-10">
		<div class="form-group">
			<p>長文ファイルを選択する</p>
			<button	id="btnFileSelect" type="button"  class="btn btn-default">ファイル選択</button>
			<input	id='longTextFile' type='hidden' >
			<div	id="confirmText" class='confirm-input'></div>
		</div>
	</div>
	<div class="col-xs-1">&nbsp;</div>
</div>
<div class="modal-footer row"></div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag	= appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;

$(function(){
	mForm = $('#modalForm');
	bindTag();
	bindLabel();
	bindAction();
	columnAction();
	fileSelectAction();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.longtext);	
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);
}
function bindAction(){
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
	});
	$('#btnOk', mForm).click(function(){
		
		var usingParam	= ['minTextRange', 'maxTextRange', 'longTextFile', 'column']
			validParam	= {},
			gen			= null
		;
		
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid,
		generator.column.exec(validParam.column);			
		
		gen	= new generator.longtext;
		gen.exec(validParam)
		.then(function(dataList){
			append.grid.data(dataList);
		})
		.then(function(){
		
			var cCol	= current.column,
				iCol	= cCol.index,
				nameCol = cCol.nameList[iCol],
				ptnList = current.patternList,
				ptnObj  = {
					name  : nameCol,
					type  : 'longtext',
					param : validParam
				}
			;			
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}
			append.modal.close();
		})
		.then(function(){
			gen = null;
		});
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
function byteLen(char) {
	return(encodeURIComponent(char).replace(/%../g,"x").length);
}
function fileSelectAction(){

	$('#btnFileSelect', mForm).on('click', function(){
		
		var filePath = appSrc.userFile(),
			fileBody = appSrc.longtext(filePath)
		;
		$('#longTextFile',	mForm).val(filePath);
		$("#confirmText",	mForm).text(fileBody.substr(1,50));
    });
}
function hasProperty(){
	
}
</script>