<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">擬似個人情報を設定します。</h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3"><label>Info Type</label></div>
	<div class="col-xs-4"><label>Data Type</label></div>
	<div class="col-xs-5"><label>Option</label></div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label><input type="radio" name="infoType" value='fullName'>姓名</label>
	</div>
	<div class="col-xs-4">
		<select id="fullNameCharType" class="form-control">
			<option value="">----</option>
		</select>
	</div>
	<div class="col-xs-4">
		<select id="fullNameDelimiter" class="form-control">
			<option value="">姓/名の区切り</option>
		</select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label><input type="radio" name="infoType" value='lastName'>苗字</label>
	</div>
	<div class="col-xs-4">
		<select id="lastNameCharType" class="form-control">
			<option value="">----</option>
		</select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label><input type="radio" name="infoType" value='firstName'>名前</label>
	</div>
	<div class="col-xs-4">
		<select id="firstNameCharType" class="form-control">
			<option value="">----</option>
		</select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label><input type="radio" name="infoType" value='gender'>性別</label>
	</div>
	<div class="col-xs-4">
		<select id="genderValueType" class="form-control">
			<option value="">----</option>
		</select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label><input type="radio" name="infoType" value='age'>年齢範囲</label>
	</div>
	<div class="col-xs-9 form-inline">
		<input type="number" name="ageMin" class="form-control" min="0" max="125">&nbsp;歳
		〜
		<input type="number" name="ageMax" class="form-control" min="0" max="125">&nbsp;歳
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label><input type="radio" name="infoType" value='genderRatio'>男女比</label>
	</div>
	<div class="col-xs-2 pad-0">
		<span class="no-border-control">男性 <span class="maleRate">50 ％</span></span>
		<input type='hidden' id='maleRate' value='50'>
	</div>
	<div class="col-xs-4">
		<input type="range" id="genderBar" class="no-border-control">
	</div>
	<div class="col-xs-2 pad-0">
		<span class="no-border-control">女性 <span class="femaleRate">50 ％</span></span>
		<input type='hidden' id='femaleRate' value='50'>
	</div>
</div>
<div class="modal-footer row"></div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag	= appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;

$(function(){
	mForm = $('#modalForm');
	bindTag();
	bindLabel();
	bindSelectOptions();
	bindValue();
	bindAction();
	columnAction();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title', mForm).text(subject.person);
	$('#genderBar', mForm).on('input', function(){
		var raleRatio = $(this).val();
		$('.maleRate',	mForm).text(raleRatio + ' %');
		$('.femaleRate',mForm).text((100 - raleRatio) + ' %');
		$('#maleRate',	mForm).val(raleRatio);
		$('#femaleRate',mForm).val(100 - raleRatio);
	})
	
	$('#btnReset', mForm).text(button.reset);
	$('#btnOk', mForm).text(button.ok);
}
function bindSelectOptions(){
	
	var master	= appSrc.master.seletOptions,
		blank	= appSrc.config.blank,
		optBdr	= dataBind.selectOptions
	;
	$('#fullNameCharType',	mForm).append(optBdr(master.character, blank.none));
	$('#fullNameDelimiter',	mForm).append(optBdr(master.delimiter.space, blank.none));
	$('#lastNameCharType',	mForm).append(optBdr(master.character, blank.none));
	$('#firstNameCharType',	mForm).append(optBdr(master.character, blank.none));
	$('#genderValueType',	mForm).append(optBdr(master.gender, blank.none));
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type == '')	return;
	
	var param = current.patternList[iCol].param;

	$(':radio[name="infoType"][value="' + param.infoType + '"]',			mForm).prop('checked', true);
	$('#fullNameCharType option[value=' + param.fullNameCharType + ']',		mForm).prop('selected', true);
	$('#fullNameDelimiter option[value=' + param.fullNameDelimiter + ']',	mForm).prop('selected', true);
	$('#lastNameCharType option[value=' + param.lastNameCharType + ']',		mForm).prop('selected', true);
	$('#firstNameCharType option[value=' + param.firstNameCharType + ']',	mForm).prop('selected', true);
	$('#genderValueType option[value=' + param.genderValueType + ']',		mForm).prop('selected', true);
	
	$('#genderMin',	mForm).val(param.genderMin);
	$('#genderMax',	mForm).val(param.genderMax);
	$('#maleRate',	mForm).val(param.maleRate);
	$('#femaleRate',mForm).val(param.femaleRate);
			
	$('#column', mForm).val(current.column.nameList[current.column.index]);	
}
function bindAction(){
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
		$('#genderBar', mForm).val(50);
		$('.maleRate, .femaleRate', mForm).text('50 %');
	});
	$('#btnOk', mForm).click(function(){
		
		var usingParam = [	'infoType',				'fullNameCharType',	'fullNameDelimiter',	
							'lastNameCharType ',	'firstNameCharType',	
							'genderValueType',		'genderMin',		'genderMax',
							'maleRate',				'femaleRate']
			validParam	= {},
			gen			= null
		;
		
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		generator.column.exec(validParam.column);
		
		gen	= new generator.person;
		gen.exec(validParam).then(function(res){
			append.grid.data(res);
			
		}).then(function(){
		
			var iCol     = current.column.index,
				colName  = current.column.nameList[iCol],
				ptnList	 = current.patternList,
				ptnObj   = {
					name  : colName,
					type  : 'person',
					param : validate.parameter.valid
				}
			;
			current.basedSource.person	= true;
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}
			append.modal.close();
		});
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
</script>