<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3 radio">
		<label>番号</label>
	</div>
	<div class="col-xs-9">
		<div class="radio">
			<label>
				<input type="radio" name="phoneItem" value="all" checked>全て
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="phoneItem" value="area">市外局番 ( 090, 080 )
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="phoneItem" value="local">市内局番 ( 事業者番号 )
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="phoneItem" value="directory">加入者番号
			</label>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="col-xs-3 radio">
		<label>区切り文字</label>
	</div>
	<div class="col-xs-4">
		<select id="phoneDelimiter" class="form-control"></select>
	</div>
</div>

<div class="form-group">
	<div class="col-xs-3 radio">
		<label class="row1-label">比率</label>
	</div>
	<div class="col-xs-2 pad-0">
		<span class="no-border-control">固定電話<br><span class="rateLandline">25 ％</span></span>
		<input type='hidden' id='rateLandline' value='25'>
	</div>
	<div class="col-xs-3">
		<input type="range" id="rateBar" class="no-border-control" 
			min='0' max='100' step='1' value='25'>
	</div>
	<div class="col-xs-3 pad-0">
		<span class="no-border-control">携帯電話<br><span class="rateCellphone">75 ％</span></span>
	</div>
</div>
<div class="modal-footer form-group"></div>

			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag  = appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;

$(function(){
	mForm = $('#modalForm');
	bindTag();
	bindLabel();
	bindSelectOptions();
	bindValue();
	bindAction();
	columnAction();
	toggleDelimiter();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.phone);	
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);
	
	$('#rateBar', mForm).on('input', function(){
		phoneRate( $(this).val());
	});
}
function bindSelectOptions(){	
	var master	= appSrc.master.seletOptions,
		blank	= appSrc.config.blank
	;
	$('#phoneDelimiter').append(dataBind.selectOptions(master.delimiter.hyphen, blank.add));
}
function bindValue(){	
	$('#phoneDelimiter option[value=0]', mForm).prop('selected', true);
}
function bindAction(){

	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
		phoneRate($('#rateBar').val());
	});
	$('#btnOk', mForm).click(function(){
		
		var usingParam	= ['phoneItem', 'phoneDelimiter', 'rateLandline', 'column'],
			validParam	= {},
			gen			= null
		;
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		generator.column.exec(validParam.column);
		
		gen = new generator.phone;
		gen.exec(validParam).then(function(res){			
			append.grid.data(res);
			
		}).then(function(){
		
			var iCol	= current.column.index,
				ptnList	= current.patternList,
				ptnObj	= {
					name : current.column.nameList[iCol],
					type : 'phone',
					param : validParam
				}
			;			
			current.basedSource.person	= true;
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}
			append.modal.close();
			
		}).then(function(){
			gen	= null;
		})
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
function phoneRate(landRate){
	$('.rateLandline',	mForm).text(landRate + ' %');
	$('.rateCellphone',	mForm).text((100 - landRate) + ' %');
	$('#rateLandline',	mForm).val(landRate);
}
function toggleDelimiter(){
	
	$(':radio[name="phoneItem"]', mForm).click(function(i, elm){
		
		var delimiter = $('#phoneDelimiter', mForm);
		if($(this).val() == 'all'){
			delimiter.prop('disabled', false).addClass('required');
			$('option[value=0]', delimiter).prop('selected', true);
		}
		else{
			delimiter.prop('disabled', true).removeClass('required');
			$('option[value=""]', delimiter).prop('selected', true);
		}
	});
	var elmChar = $('#phoneDelimiter', mForm);
	
//	if(padding == 0)	elmChar.prop('disabled', true).removeClass('required');
//	else				elmChar.prop('disabled', false).addClass('required');
//	elmChar.val('');
}
</script>