<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3 radio">
		<label>数値範囲</label>
	</div>
	<div class="col-xs-4">
		<input id="minNumber" type="number" min="0" max="32" class="form-control" placeholder='最小数'>
	</div>
	<div class="col-xs-4">
		<input id="maxNumber" type="number" min="0" max="32" class="form-control" 
			placeholder='最大数'>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3">
		<label class="row2-label label-padding">桁揃え</label>
	</div>
	<div class="col-xs-4">
		<label for="startNo" class="control-label">Align</label>
		<select id="digitAlign" class="form-control required"></select>
	</div>
	<div class="col-xs-4">
		<label for="startNo" class="control-label">Digit</label>
		<input type="number" class="form-control" id="charLength" disabled>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3">
		<label class="row2-label label-padding">Check digit</label>
	</div>
	<div class="col-xs-4">
		<label for="startNo" class="control-label">Type</label>
		<select id="checkDigitType" class="form-control required"></select>
	</div>
	<div class="col-xs-4">
		<label for="startNo" class="control-label">Weight</label>
		<input id="checkDigitWeight" type="number" class="form-control" disabled>
	</div>
</div>

<div class="modal-footer row"></div>

			</div>
		</form>
	</div>
</div>

<script>
var appLabel= appSrc.label,
	appTag	= appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm   = null
;
$(function(){
	mForm = $('#modalForm');
	bindTag();
	bindLabel();
	bindSelectOptions();
	bindValue();
	bindAction();
	bindCharTypeAction();
	columnAction();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.randomNum);	
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);
}
function bindSelectOptions(){
	
	var master	= appSrc.master.seletOptions,
		blank	= appSrc.config.blank
	;
	$('#digitAlign').append(dataBind.selectOptions(master.digitAlign, blank.none));
	$('#checkDigitType').append(dataBind.selectOptions(master.checkdigit, blank.add));
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type != 'randomNumber')	return;
	
	var param = current.patternList[iCol].param;
	
	$('#minNumber', mForm).val(param.minNumber);
	$('#maxNumber', mForm).val(param.maxNumber);	
	$('#column', mForm).val(current.column.nameList[current.column.index]);	
	$('#digitAlign option[value=' + Number(param.digitAlign) + ']', mForm).prop('selected', true);
	toggleDigit(Number(param.digitAlign));
	
	$('#charLength', mForm).val(param.charLength);
}
function bindCharTypeAction(){
	
	var num	  = $('#charTypeNumber', mForm),
		alp   = $('#charTypeAlpha', mForm),
		sym   = $('#charTypeSymbol', mForm),
		inNum = $('#minNumber, #maxNumber', mForm),
		cType = $('#charTypeNumber, #charTypeAlpha, #charTypeSymbol', mForm)
	;
	cType.click(function(){
		if(	num.is(':checked')
		&& !alp.is(':checked')
		&& !sym.is(':checked')){
			inNum.prop('disabled', false);
		}
		else{
			inNum.val('').prop('disabled', true);
		}
	});
}
function bindAction(){
	
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
	});
	$('#digitAlign', mForm).change(function(){
		toggleDigit(this.value);
	});
	$('#checkDigitType').change(function(){
		if($(this).val() == '')	$('#checkDigitWeight').prop({'disabled':true}).val('');
		else					$('#checkDigitWeight').prop({'disabled':false});
	});
	$('#btnOk', mForm).click(function(){
		
		var usingParam	= [	'minNumber', 'maxNumber', 'digitAlign', 'charLength', 
							'checkDigitType', 'checkDigitWeight', 'column'],
			validParam	= {},
			gen			= null
		;
							
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}		
		validParam	= validate.parameter.valid;		
		generator.column.exec(validParam.column);
		
		gen			= new generator.random.number;
		gen.type	= 'Number';		
		gen.exec(validParam)
		.then(function(res){
			append.grid.data(res);			
		})
		.then(function(){
		
			var	iCol     = current.column.index,
				colName  = current.column.nameList[iCol],
				ptnList  = current.patternList,
				ptnObj   = {
					name  : colName,
					type  : 'randomNumber',
					param : validParam
				}
			;
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}
			append.modal.close();
		});
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
function toggleDigit(padding){
	
	var elmChar = $('#charLength', mForm);
	
	if(padding == 0)	elmChar.prop('disabled', true).removeClass('required');
	else				elmChar.prop('disabled', false).addClass('required');
	elmChar.val('');
}
</script>