<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-3 radio">
		<label>文字タイプ</label>
	</div>
	<div class="col-xs-9 form-inline">
		<label class="checkbox-inline">
			<input type="checkbox" id="charTypeNumber" value="1"> 数字
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="charTypeAlpha" value="1"> アルファベット
		</label>
		<label class="checkbox-inline">
			<input type="checkbox" id="charTypeSymbol" value="1"> 記号
		</label>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>桁数範囲</label>
	</div>
	<div class="col-xs-4">
		<input id="minCharLength" type="number" min="0" max="32" class="form-control" placeholder='最小桁数'>
	</div>
	<div class="col-xs-4">
		<input id="maxCharLength" type="number" min="0" max="32" class="form-control" 
			placeholder='最大桁数'>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>桁揃え</label>
	</div>
	<div class="col-xs-4">
		<select id="digitAlign" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>文字の大小</label>
	</div>
	<div class="col-xs-4">
		<select id="charSize" class="form-control"></select>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>記号の範囲</label>
	</div>
	<div class="col-xs-4">
		<div class="radio">
			<label><input type="radio" id="symbolAscii" value='1'>ASCII ( ! - ~ )</label>
		</div>
		<div class="radio form-inline">
			<label><input type="radio" id="symbolAny" value='1'>任意</label>			
		</div>
	</div>
	<div class="col-xs-4">
		<div class="radio">&nbsp;</div>
		<input type="text" id="symbolItems" class="form-control" placeholder='任意の記号'>	
	</div>
</div>
<div class="form-group">
	<div class="col-xs-3 radio">
		<label>値の重複</label>
	</div>
	<div class="col-xs-4">
		<select id="duplicate" class="form-control"></select>
	</div>
</div>
<div class="modal-footer form-group"></div>
			</div>
		</form>
	</div>
</div>

<script>
var appLabel= appSrc.label,
	appTag	= appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm   = null
;

$(function(){
	mForm = $('#modalForm');
	bindTag();
	bindLabel();
	bindSelectOptions();
	bindValue();
	bindAction();
	columnAction();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);	
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.randomChar);	
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);
}
function bindSelectOptions(){
	
	var master	= appSrc.master.seletOptions,
		blank	= appSrc.config.blank,
		optBdr	= dataBind.selectOptions
	;
	$('#digitAlign',mForm).append(optBdr(master.digitAlign, blank.none));
	$('#charSize',	mForm).append(optBdr(master.charSize, blank.add));
	$('#duplicate',	mForm).append(optBdr(master.enable, blank.none));
}
function bindValue(){
	
	var iCol = current.column.index;
	
	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type != 'randomString')	return;
	
	var param = current.patternList[iCol].param;

	$('#charTypeNumber',mForm).prop('checked', param.charTypeNumber);
	$('#charTypeAlpha',	mForm).prop('checked', param.charTypeAlpha);	
	$('#charTypeSymbol',mForm).prop('checked', param.charTypeSymbol);	
	$('#minCharLength',	mForm).val(param.minCharLength);
	$('#maxCharLength',	mForm).val(param.maxCharLength);
	$('#symbolItems',	mForm).val(param.symbolItems);
	$('#column',		mForm).val(current.column.nameList[current.column.index]);		
	$('#symbolAscii',	mForm).prop('checked', param.symbolAscii);
	$('#symbolAny',		mForm).prop('checked', param.symbolAny);
		
	$('#digitAlign option[value=' + Number(param.digitAlign) + ']',	mForm).prop('selected', true);
	$('#charSize option[value=' + Number(param.charSize) + ']',		mForm).prop('selected', true);
	$('#duplicate option[value=' + Number(param.duplicate) + ']',	mForm).prop('selected', true);
}
function bindAction(){
	
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
	});
	$('#symbolAscii', mForm).click(function(){
		if($(this).is(':checked')){
			$('#symbolAny', mForm).prop('checked', false);
			$('#symbolItems', mForm).prop('disabled', true).val('');
		}		
	});
	$('#symbolAny', mForm).click(function(){
		if($(this).is(':checked')){
			$('#symbolAscii', mForm).prop('checked', false);
			$('#symbolItems', mForm).prop('disabled', false);
		}
	});
	$('#btnOk', mForm).click(function(){
		
		var	usingParam	= [	'charTypeNumber',	'charTypeAlpha',	'charTypeSymbol',	
							'minCharLength',	'maxCharLength', 	
							'digitAlign',		'charSize',			
							'symbolAscii',		'symbolAny', 		'symbolItems',		
							'duplicate',		'column'],
			validParam	= {},
			gen			= null
		;
							
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;
		generator.column.exec(validParam.column);
		
		gen			= new generator.random;
		gen.type	= 'String';		
		gen.exec(validParam)
		.then(function(res){
			append.grid.data(res);
		})
		.then(function(){
			var iCol     = current.column.index,
				colName  = current.column.nameList[iCol],
				ptnList  = current.patternList,
				ptnObj   = {
					name : colName,
					type : 'randomString',
					param : validParam
				}
			;
			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);
			
			if(current.setPattern){
				appSrc.pattern.save(project[current.group][current.setPattern]);
			}			
			append.modal.close();
		});
	});
}
function columnAction(){
	
	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
</script>