<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-10">
		<div class="form-group radio">
			<label style='width:100%'>
				<input type="radio" name="sourceType" value='input'>
				<p class="label-input">Pattern <a id="btnHelp" target='_blank'><i class='fa fa-info-circle'></i></a></p>

				<input id="regexPattern" type="text" class="form-control"
					value='[e0-9]{8}-[0-9]{4}-4[e0-9]{3}-r[0-9]{3}-[a-z0-9]{10}'>
			</label>
		</div>
	</div>
	<div class="col-xs-1">&nbsp;</div>
</div>

<div class="form-group">
	<div class="col-xs-1">&nbsp;</div>
	<div class="col-xs-10">
		<div class="form-group radio">
			<label style='width:100%'>
				<input type="radio" name="sourceType" value='file'>
				<p class="label-input">CSVファイルから取り込む</p>
				<button type="button" id="btnFileSelect" class="btn btn-default">ファイル選択</button>
				<input type='hidden' id='anyFilePath'>
				<div id="confirmRegex" class='confirm-input'></div>
			</label>
		</div>
	</div>
	<div class="col-xs-1">&nbsp;</div>
</div>
<div class="modal-footer row"></div>
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	appTag	= appSrc.tag,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null
;

$(function(){
	mForm	= $('#modalForm');
	bindTag();
	bindLabel();
	bindValue();
	bindAction();
	columnAction();
	fileSelectAction();
});
function bindTag(){
	$('.modal-footer',	mForm).append(appTag.modalFooter);
}
function bindLabel(){
	$('.modal-title',	mForm).text(subject.regex);
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);

	append.help.open('btnHelp',	appSrc.help.erPatternSymbol);
}
function bindValue(){

	var iCol = current.column.index;

	if(isNaN(iCol))	return;
	if(!current.patternList[iCol])	return;
	if(!('param' in current.patternList[iCol]))	return;
	if(current.patternList[iCol].type != 'regex')	return;

	var param = current.patternList[iCol].param;

	$('#regexPattern',	mForm).val(param.regexPattern);
	$('#anyFilePath',	mForm).val(param.anyFilePath);
	$('#column',		mForm).val(current.column.nameList[current.column.index]);

	if(param.anyFilePath != '')	appendConfirmText(param.anyFilePath);
}
function bindAction(){
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		mForm[0].reset();
	});
	$('#btnOk', mForm).click(function(){

		var usingParam	= [	'regexPattern', 'anyFilePath', 'column']
			validParam	= {},
			gen			= null
		;

		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;

		if(!isValidFormRelation(validParam))	return;

		generator.column.exec(validParam.column);
		gen	= new generator.regex;
		gen.exec(validParam)
		.then(function(res){
			append.grid.data(res);
		})
		.then(function(){
			var iCol     = current.column.index,
				colName  = current.column.nameList[iCol],
				ptnList  = current.patternList,
				ptnObj   = {
					name  : colName,
					type  : 'regex',
					param : validParam
				}
			;

			if(ptnList[iCol])	ptnList[iCol]	= ptnObj;
			else				ptnList.push(ptnObj);

			if(current.setPatternName){
				appSrc.pattern.save(project[current.groupName][current.setPatternName]);
			}
			append.modal.close();
		})
		.then(function(){
			delete gen;
			delete validParam;
		});
	});
}
function isValidFormRelation(param){

	var msg	= appSrc.message.modal.regex.unset;

	if(param.regexPattern == '' && param.anyFilePath == ''){
		appSrc.alert.info(msg.input);
		return false;
	}
	return true;
}
function columnAction(){

	append.form.columnComboBox('column');
	appEvent.suggest($('#column', mForm));
}
function fileSelectAction(){

	$('#btnFileSelect', mForm).on('click', function(){
		appendConfirmText(appSrc.userFile());
    });
}
function appendConfirmText(filePath){

	var	fileBody = appSrc.readLine(filePath);

	$('#anyFilePath', mForm).val(filePath);
	current.temp.regex.filePath = filePath;
	current.temp.regex.itemList = fileBody;
	$("#confirmRegex", mForm).text(fileBody.join(',').slice(1,50));
}
</script>