<div class="modal-dialog">
	<div class="modal-content">
		<form id="modalForm" class="form-horizontal">
			<div class="modal-header">
				<button id='btnCloseModal' type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title"></h5>
			</div>
			<div class="modal-body">

<div class="form-group">
	<div class="col-xs-4 radio">
		<label>グループ名</label>
	</div>
	<div class="col-xs-7">
		<input type="text" id="groupName" class="form-control required">
		<ul class="suggest"></ul>
	</div>
</div>
<div class="form-group">
	<div class="col-xs-4 radio">
		<label>セットパターン名</label>
	</div>
	<div class="col-xs-7">
		<input type="text" id="setPatternName" class="form-control required">
		<ul class="suggest"></ul>
	</div>
</div>

<div class="modal-footer row">
	<div class="col-xs-6 radio">
	</div>
	<div class="col-xs-6">
		<div class='btn-group btn-register pull-right rmargin-20'>
			<button id='btnReset' type="button" class="btn btn-default"></button>
			<button id='btnOk' type="button" class="btn btn-primary"></button>
		</div>
	</div>
</div>			
			</div>
		</form>
	</div>
</div>
<script>
var appLabel= appSrc.label,
	button  = appLabel.button,
	subject = appLabel.subject,
	frmLabel= appLabel.form,
	mForm	= null,
	projectKey = ''
;

$(function(){
	mForm = $('#modalForm');
	bindLabel();
	bindAction();
	bindSuggest();
});
function bindLabel(){
	$('.modal-title',	mForm).text(subject.save);	
	$('#btnReset',		mForm).text(button.reset);
	$('#btnOk',			mForm).text(button.ok);
}
function bindAction(){
	$('#btnCloseModal', mForm).click(function(){
		append.modal.close();
	});
	$('#btnReset', mForm).click(function(e){
		e.preventDefault();
		$("#modalForm")[0].reset();
	});
	$('#btnOk', mForm).click(function(){
		
		var usingParam = ['groupName', 'setPatternName'],
			validParam	= {},
			grpName = setName = fName = ''
		;
		
		if(!validate.isValid(usingParam)){
			appSrc.alert.error(validate.error.subject, validate.error.message);
			return;
		}
		validParam	= validate.parameter.valid;		
		grpName		= validParam.groupName;
		setName 	= validParam.setPatternName;
		fName   	= appSrc.setPatternFileName(validParam);
		current.groupName		= grpName;
		current.setPatternName	= setName;
		
		if(!(grpName in project))			project[grpName]		= {};
		if(!(setName in project[grpName]))	project[grpName][setName]	= fName;
	
		if(current.userDbName == ''){
			var db = new dbControl,
				fileName = to.now('yyyymmddhhnnssff')
			;
			current.userDbName	= fileName
			db.newDb(fileName);
			db = null;
		}		
		
		appSrc.pattern.save(fName);
		appSrc.project.save();
		append.modal.close();
		defaultView();
	});
}
function bindSuggest(){
	
	var opts= {},
		prj	= '',
		elmGrp = $('#groupName', mForm),
		elmSet = $('#setPatternName', mForm),
		sugGrp = $('#groupName + .suggest', mForm),
		sugSet = $('#setPatternName + .suggest', mForm)
	;
	
	elmGrp.val(current.groupName);
	elmSet.val(current.setPatternName);
	
	elmGrp.focus(function(){
		
		sugGrp.children().remove();
		sugSet.children().remove();
		sugSet.css({"display":"none"});
		
		opts = {
			formId     : "groupName",
			suggestTag : dataBind.comboBox(Object.keys(project))
		};
		append.form.comboBox(opts);
		appEvent.suggest(elmGrp);
	});	

	elmSet.focus(function(){	
		
		sugGrp.css({"display":"none"});
		sugSet.children().remove();
		
		pjVal = $.trim(elmGrp.val());
		if(pjVal == '')			return;
		if(!(pjVal in project))	return;	
		
		var optsTag = Object.keys(project[pjVal]);
		if(optsTag.length == 0)	return;
		
		opts = {
			formId     : "setPatternName",
			suggestTag : dataBind.comboBox(optsTag)
		};
		append.form.comboBox(opts);
		appEvent.suggest(elmSet);
	});
}

</script>