@charset "urf-8";

@import url("css/std/bootstrap.css");
@import url("css/std/font-awesome.css");
@import url("css/std/jquery-ui.css");
@import url("css/std/jquery.resizableColumns.css");
@import url("css/std/photon.css");

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #333;
  background-color: transparent;
}
.window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.main-content {
  position: relative;
/*  overflow-y: auto; */
  display: flex;
  flex: 1;
}
.toolbar {
  min-height: 22px;
  box-shadow: inset 0 1px 0 #f5f4f5;
  background-color: #e8e6e8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e6e8), color-stop(100%, #d1cfd1));
  background-image: -webkit-linear-gradient(top, #e8e6e8 0%, #d1cfd1 100%);
  background-image: linear-gradient(to bottom, #e8e6e8 0%, #d1cfd1 100%);
}
.toolbar:before, .toolbar:after {
  display: table;
  content: " ";
}
.toolbar:after {
  clear: both;
}

.toolbar-header {
  border-bottom: 1px solid #c2c0c2;
  padding-left:16px;
  padding-right:16px;
}
.toolbar-header .title {
  margin-top: 1px;
}

.toolbar-footer {
  border-top: 1px solid #c2c0c2;
  -webkit-app-region: drag;
}
.toolbar-borderless {
  border-top: 0;
  border-bottom: 0;
}
.toolbar-actions {
  margin-top: 4px;
  margin-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  -webkit-app-region: drag;
}
.toolbar-actions:before, .toolbar-actions:after {
  display: table;
  content: " ";
}
.toolbar-actions:after {
  clear: both;
}
.toolbar-actions > .btn,
.toolbar-actions > .btn-group {
  margin-left: 4px;
  margin-right: 4px;
}
.toolbar-btngroup{
  display:inline-block;
  margin-right:8px;
}
.btn {
  display: inline-block;
  padding: 3px 8px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06);
  -webkit-app-region: no-drag;
}
.btn-default {
  color: #333;
  border-top-color: #c2c0c2;
  border-right-color: #c2c0c2;
  border-bottom-color: #a19fa1;
  border-left-color: #c2c0c2;
  background-color: #fcfcfc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f1f1f1 100%);
  background-image: linear-gradient(to bottom, #fcfcfc 0%, #f1f1f1 100%);
}
.btn-default:active {
  background-color: #ddd;
  background-image: none;
}

.sidebar {
  background-color: #F5F5F4;
}
.sidebar-active-bg{
  background-color: #1F6FF9 !important;
  color:#FFF;
}
.draggable {
  -webkit-app-region: drag;
}

.pane-group {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}
.pane-sub-group{
  position: absolute;
  top:38px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.pane {
  position: relative;
  overflow-y: auto;
  flex: 1;
  border-left: 1px solid #ddd;
  resize: horizontal;
}
.pane:first-child {
  border-left: 0;
}
.pane-xl {
  width:251px;
}
.pane-right{
  padding:8px;
}

#confirmGrid tbody{
  font-family: Osaka-Mono;
  font-size:10.5pt;
}
#confirmGrid tbody td{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  max-width:280px;
}
input#colName.edit{
  margin:0;
  color:#000;
  border-width:0 0;
  padding:2px 15px;
}
.select-head {
  background-color:#356cd6;
  color:#FFF;
}
.select-body{
  border-width:0 1px;
  border-style:solid;
  border-color:#DDD;
}
.cell-left{
  text-align:left;
}
.cell-center{
  text-align:center;
}
.cell-right{
  text-align:right;
}
.modal-header{
  -webkit-app-region: drag;
  app-region: drag;
}
.confirm-input{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top:8px;
  font-size:11pt;
}
.pad-0{
  padding:0 !important;
}
.suggest{
  display:none;
  position:absolute;
  padding:8px 0;
  background-color:#FFF;
  border:1px solid #BBC;
  border-radius:4px;
  z-index:2000;
  box-shadow:6px 9px 8px 6px rgba(0,0,0,0.2);
  list-style-type:none;
  width:200px;
  min-height:120px;
  max-height:120px;
  overflow-y:auto;
}
.suggest li{
  font-size:10pt !important;
  padding:2px 24px 2px 12px;
  text-align:left !important;
}
.suggest li:hover{
  background-color:#BDF;
}
.row1-label{
  font-weight:normal;
  padding-top:6px;
  padding-left:24px;
}
.row2-label{
  font-weight:normal;
  padding-top:36px !important;
  padding-left:24px;
}
.row1-label input, .row2-label input{
  margin-right:12px;
}
ul{
  list-style-type:none;
  padding-left:0;
}
.group-list{
  height:100%;
  overflow-y:auto;
  margin-top:34px;
  padding-top:4px;
  padding-bottom:40px;
}
.group-list > div{
  padding-top:2px;
  padding-bottom:2px;
  padding-left:18px;
}
.setpattern-list{
  display:none;
}
.setpattern-list > div{
  padding-top:2px;
  padding-bottom:2px;
  padding-left:36px;
}
.nav-title{
  position:absolute;
  width:inherit;
  padding-left:8px;
  padding-bottom:8px;
  border-bottom:1px solid #DDD;
  margin-bottom:4px;
}
.column-key-block, .column-value-block{
  display:none;
}
.gothic{
  font-size:9pt;
  font-family:arial;
  margin-right:2px;
}
#delimiter{
  width:30px;
}
.delimiter-block{
  margin-left:20px;
}
.checkbox-block{
  margin-left:20px;
}
.delimiter-block input{
  width:30px !important;
  margin-left:8px;
}
.fa-info-circle{
  color:#06F;
  font-size:12pt;
}
.fa-info-circle:hover{
  cursor:pointer;  
}
.exporting{
  display:none;
}
.radio-inline label{
  font-weight:normal;
}
.max-per-file{
  width:80px !important;
  margin-right:8px;
}
.menu-form-text{
  width:92px !important;
}
.icon-white{
  color:#FFF;
  font-size:10pt;
  margin-left:4px;
}
.modal-body input[type=checkbox]{
  margin-right:8px;
}
.rmargin-20{
  margin-right:20px;
}
.modal-footer{
  padding-top:20px;
  padding-left:0 !important;
  padding-right:0 !important;
}
.modal{
  overflow:initial !important;
}